<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Method</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/getaway.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="offer-home.html">Back</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Payment Method</h1>
      <div class="cards-container">
        <div class="card">
          <div class="card-icon">⭐</div>
          <h2>Pay with Points</h2>
          <p>Use your accumulated points to make a payment.</p>
          <p class="requierd-points">
            <span class="text-s">Total requierd points</span>: 500
          </p>
          <p class="products">
            <span class="text-s">Selected products</span>: products
          </p>
          <form class="checkout-point" action="../controller/customer.php">
            <button type="submit" class="checkout-btn">Checkout</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
