<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Method</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/payment.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="customer.html">Back</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Payment Method</h1>
      <div class="cards-container">
        <div class="card">
          <div class="card-icon">💳</div>
          <h2>Add Payment Method</h2>
          <p>Add a new credit card or bank account.</p>
        </div>

        <div class="card">
          <div class="card-icon">📜</div>
          <h2>Payment History</h2>
          <p>View all previous payments.</p>
        </div>
      </div>
    </main>
  </body>
</html>
